<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>编辑学生</h1>
<form method="POST" action="/edit_student/?nid={{student_list.id}}">
    <p>学生姓名：<input type="text" name="name" value="{{student_list.name}}"></p>
    <p>
        班级名称：
        <select name="class_id">
            {% for row in class_list %}
                {% if row.id == student_list.class_id %}
                    <option selected value="{{row.id}}">{{row.title}}</option>
                {% else %}
                    <option value="{{row.id}}">{{row.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>

<input type="submit" value="提交">
</form>
</body>
</html>